@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #463b3b;
}

.main-header #header-logo a {
    color: white;
}

a.logo {
    font-size: 52px;
    color: #eeeeee;
}

.fa-fw {
    align-self: self-start;
    text-align: center;
    width: 1.25em;
}

.navbar-custom-menu .user {
    font-size: 1.8rem;
    color: white;
}

.navbar-custom-menu .user-name {
    margin-left: 1.6rem;
}

.navbar-custom-menu .user-avatar {
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(59,64,94,.1), 0 1px 1px 0 rgba(0,0,0,.07);
    font-size: 2.3rem;
    max-height: 21px;
    max-width: 21px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #ff7043;
    padding: 20px;
    margin-bottom: 0;
    color: white;
}

.main-sidebar {
    margin-top: -20px;
    background-color: #ff7043;
    padding: 0 20px;
    padding-top: 20px;

}

.sidebar-menu a {
    font-size: 1.3rem;
}
.sidebar-menu a {
    font-family: 'Raleway', sans-serif;
    color: #eeeeee;
    font-size: 1.2rem;
    margin-top: 12px;
    padding-bottom: 4px;

}

.sidebar-menu a:hover {
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 2px;

}

.sidebar-menu li {
    list-style: none;
    font-size: 1.5rem;
}

.sidebar-menu li:not(.submenu-active).active .fa, .sidebar-menu li:not(.submenu-active).active a {
    color: #eeeeee;
    filter: opacity(100%);
    font-weight: 600;
}



