body {
    background-color: #fff;
}

.login-container {
    width: 100%;
    margin-top: 50px;
}


label {
    margin-top: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.form-signin {
    width: 60%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button {
    background-color: #ff7043;
}

.navbar-brand {
    font-size: 56px;
    margin: 0 12rem;
    padding: 0;
    line-height: 1;

}

.navbar-brand:hover {
    color: #fff;
}

span:hover {
    color: white;
}

.logout-par {
    text-align: center;
    margin-top: 15px;
}